@{
    ViewBag.Title = "About";
}

<div class="container full-height">
    <br>
    <h2>Online Burger Ordering System.</h2>

    <br>
    <p>Online burger ordering system is a web based application that stimulates the customers to put burger ordering by the internet. This provides more interactive commands in order that the ordering process could be carried out. Ordering burger online is designed for its more flexibility and performance.</p>

    <p>The main advantage of this system is that it greatly simplifies the ordering process for both the customer and restaurant. When customers visit the ordering web page, they are presented with interactive commands and put price.</p>

</div>