@{
    ViewBag.Title = "Adminnew";
}
<main>
    <div class="content-title">
        <h2>Overview</h2><i class="fa fa-angle-right"></i>
        <div class="filter">
            @* <a class="filter-item">today</a> *@
            @* <a class="filter-item">month</a> *@
            @* <a class="filter-item">year</a> *@
        </div>
        <button class="btn btn-default">Log out</button>
    </div>
    <div class="pill-wrapper">
        <div class="pill">
            <div class="pill-content">
                <div class="pill-title">Overall Sale</div>
                <div class="pill-value">1231</div>
            </div>
        </div>

        <div class="pill">


            <div class="pill-content">

                <div class="pill-title">Overall Visited</div>
                <div class="pill-value">1446</div>
            </div>
        </div>

        <div class="pill">


            <div class="pill-content">

                <div class="pill-title">Overall Growth</div>
                <div class="pill-value">65%</div>
            </div>
        </div>
    </div>
    <div class="content-title">
    </div>
    <div class="chart">
        <h3>Todays sale</h3>
        <div class="table-responsive">
            <table class="table">
                <tr>
                    <th>item</th>
                    <th>description</th>
                    <th>price</th>
                </tr>
                <tr>
                    <td>Burger</td>
                    <td>Large xxl cheese Burger</td>
                    <td>100.00</td>
                </tr>


                <tr>
                    <td>Burger</td>
                    <td>Large xxl cheese Burger</td>
                    <td>100.00</td>
                </tr>


                <tr>
                    <td>Burger</td>
                    <td>Large xxl cheese Burger</td>
                    <td>100.00</td>
                </tr>


                <tr>
                    <td>Burger</td>
                    <td>Large xxl cheese Burger</td>
                    <td>100.00</td>
                </tr>


                <tr>
                    <td>Burger</td>
                    <td>Large xxl cheese Burger</td>
                    <td>100.00</td>
                </tr>


                <tr>
                    <td>Burger</td>
                    <td>Large xxl cheese Burger</td>
                    <td>100.00</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="activity-feed">
        <h3>Orders</h3>
        <div class="table-responsive">
            <table class="table">
                <tr>
                    <th>item</th>
                    <th>QTY</th>
                    <th>price</th>
                </tr>
                <tr>
                    <td>Beef Burgers</td>
                    <td>2</td>
                    <td>440.00</td>
                </tr>
                <tr>
                    <td>
                        Turkey Burgers
                    </td>
                    <td>2</td>
                    <td>1400.00</td>
                </tr>
                <tr>
                    <td>
                        Bison Burgers
                    </td>
                    <td>2</td>
                    <td>950.00</td>
                </tr>
            </table>
        </div>
    </div>

</main>