@{
    ViewBag.Title = "Cart";
}
<h1 class="text-center">Cart</h1>
<br><br>
<div class="shopping-cart-container">
    <div class="shopping-cart">
        <div class="title">
            Shopping Cart
        </div>

        <!-- Product #1 -->
        <div class="item">
            <div class="buttons">
                <span class="delete-btn"></span>

            </div>

            <div class="image">
                <img src="~/myimage/product.png" alt=""/>
            </div>

            <div class="description">
                <span>E-burger Special</span>
                <span>Extra cheese</span>
                <span>Small</span>
            </div>

            <div class="quantity">
                <button class="plus-btn" type="button" name="button">
                    <img src="https://designmodo.com/demo/shopping-cart/plus.svg" alt=""/>
                </button>
                <input type="text" name="name" value="1">
                <button class="minus-btn" type="button" name="button">
                    <img src="https://designmodo.com/demo/shopping-cart/minus.svg" alt=""/>
                </button>
            </div>

            <div class="total-price">Rs 1200.00</div>
        </div>

        <!-- Product #2 -->
        <div class="item">
            <div class="buttons">
                <span class="delete-btn"></span>
            </div>

            <div class="image">
                <img src="~/myimage/product.png" alt=""/>
            </div>

            <div class="description">
                <span>E-burger Special</span>
                <span>Extra cheese</span>
                <span>Small</span>
            </div>

            <div class="quantity">
                <button class="plus-btn" type="button" name="button">
                    <img src="https://designmodo.com/demo/shopping-cart/plus.svg" alt=""/>
                </button>
                <input type="text" name="name" value="1">
                <button class="minus-btn" type="button" name="button">
                    <img src="https://designmodo.com/demo/shopping-cart/minus.svg" alt=""/>
                </button>
            </div>

            <div class="total-price">Rs 1200.00</div>
        </div>

        <!-- Product #3 -->
        <div class="item">
            <div class="buttons">
                <span class="delete-btn"></span>

            </div>

            <div class="image">
                <img src="~/myimage/product.png" alt=""/>
            </div>

            <div class="description">
                <span>E-burger Special</span>
                <span>Extra cheese</span>
                <span>Small</span>
            </div>

            <div class="quantity">
                <button class="plus-btn" type="button" name="button">
                    <img src="https://designmodo.com/demo/shopping-cart/plus.svg" alt=""/>
                </button>
                <input type="text" name="name" value="1">
                <button class="minus-btn" type="button" name="button">
                    <img src="https://designmodo.com/demo/shopping-cart/minus.svg" alt=""/>
                </button>
            </div>

            <div class="total-price">Rs 1200.00</div>
        </div>
        
            <a class="btn btn-default checkout-btn" href="#" role="button">Checkout</a>

    </div>
    
</div>