@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<div class="container full-height">
<br>
<h3>Our Contact details</h3>

<address>
    K.Karunakaran<br/>
    Y.Yathavan<br/>
    <abbr title="Phone">TPNO:</abbr>
    0775631188 <br/>
    0777236431
</address>

<address>
    <strong>E-mail Address:</strong> <a href="mailto:Support@example.com">ratnamkaran0@gmail.com.com</a><br/>
    <strong>E-mail Address:</strong> <a href="mailto:Marketing@example.com">yathavancom@gmail.com.com</a>
</address>
</div>
