@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 style="color:darkblue">KPYT Restarant</h1>
    <p class="lead">Our restaurant provides the facility for ordering delicious and quality burger in easy way.</p>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Tasty Srilankan Burger</h2>
        <img src="~/myimage/002.jpg" />
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">View more</a></p>
    </div>
    <div class="col-md-4">
        <h2>Chinees Burger</h2>
        <img src="~/myimage/chinees.jpg" />
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">View more</a></p>
    </div>
    <div class="col-md-4">
        <h2>Indian Burger</h2>
        <img src="~/myimage/Indian spicy.jpg" />
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">View more</a></p>
    </div>
</div>